contourpy==1.1.1
cycler==0.10.0
decorator==5.0.7
filelock==3.16.1
fonttools==4.57.0
fsspec==2025.3.0
future==0.18.2
-e git+https://github.com/hadibeikm/s-vae-pytorch.git@d55e8e0c9f9d45a2e391d5268c294509374d386e#egg=hyperspherical_vae
importlib_resources==6.4.5
Jinja2==3.1.6
joblib==0.14.1
kiwisolver==1.1.0
MarkupSafe==2.1.5
matplotlib>=3.7.0
mpmath==1.3.0
networkx==2.4
numpy>=1.24.0
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
packaging==26.2
pandas==1.5.3
pillow==10.4.0
plotly==4.14.3
pyparsing==2.4.7
PyQt5==5.15.11
PyQt5-Qt5==5.15.19
PyQt5_sip==12.15.0
pyquaternion==0.9.9
python-dateutil==2.8.1
pytz==2021.1
PyYAML==6.0.3
retrying==1.3.3
scikit-learn>=1.0.0
scipy>=1.10.0
seaborn==0.9.1
six==1.15.0
-e git+https://github.com/MachineLearningLifeScience/stochman@1d092e0dffef179b706542f0693b813a8370fcf8#egg=stochman
sympy==1.13.3
torch==2.4.1
torchaudio==2.4.1
torchdiffeq==0.2.5
torchplot==0.2.0
torchvision==0.19.1
triton==3.0.0
typing_extensions==4.13.2
zipp==3.20.2
