# --- Main Project Dependencies ---
# --- Deep Learning (PyTorch) ---
torch>=2.6.0
torchvision>=0.21.0
torchaudio>=2.6.0
torchdiffeq==0.2.5
torchplot==0.2.0

# --- Core Math & Machine Learning ---
numpy>=1.24,<2
scipy>=1.10
scikit-learn>=1.3
pandas>=1.5.3
sympy>=1.13.3

# --- Visualization & UI ---
matplotlib>=3.8
plotly>=5.18
PyQt5>=5.15.10
seaborn>=0.9.1

# --- Utilities ---
pyquaternion==0.9.9
PyYAML>=6.0
networkx>=3.0

# --- Local Sub-packages ---
-e ./s-vae-pytorch
-e ./stochman